[submodule "llvm/llvm-project"]
	path = llvm/llvm-project
	url = https://github.com/yamak/llvm-project.git
	branch = xpac_support
[submodule "picolibc/picolibc-src"]
	path = picolibc/picolibc-src
	url = https://github.com/yamak/picolibc.git
	branch = xpac_support
[submodule "gdb/binutils-gdb"]
	path = gdb/binutils-gdb
	url = https://github.com/bminor/binutils-gdb.git
